.wrapper {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
body{
    background-color: #f2f2f2;
}
.mainText{
    border:2px solid black;
    height: 800px;
    overflow: scroll;
    padding: 15px;
}

.date, footer{
    font-style: italic;
    font-size: 10pt;
}
.name{
    font-weight: bold;
}

img{
    height: 15%;
    width: 15%;
}
hr{
    width: 40%;

}